:root {
  --color-dark: #232323;
  --color-light: #f5f5f5;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Odibee Sans", cursive;
  font-size: 16px;
  background-color: var(--color-dark);
}
